<div class="container d-flex flex-column align-items-center">
  <div class="dropdown mt-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      類別
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {{#each categorys}}
      <a class="dropdown-item" href='/expense/{{this.route}}'>{{this.name}}{{{this.icon}}}</a>
      {{/each}}
    </div>
  </div>
  <div class="d-flex">
    <h4 class="mt-2">總金額：</h4>
    <h4 class="mt-2 text-warning">{{totalAmount}}</h4>
  </div>
  <ul class="list-group">
    {{#each records}}
    <li class="list-group-item">
      <div class="row">
        <div class="col-auto mr-auto">
          {{this.date}}
          <h4>{{{this.icon}}}{{this.name}}{{this.amount}}</h4>
        </div>
        <div class="col-auto">
          <a class="btn btn-secondary" href="/expense/{{this._id}}/edit">修改</a>
          <form action="/expense/{{this._id}}?_method=DELETE" method="POST" style="display: inline;">
            <button class="btn btn-danger" type="submit">刪除</button>
          </form>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
  <a class="btn btn-info mt-3" href="/expense/new">新增支出</a>
</div>